---
const { project } = Astro.props as { project: Project };
---

<div
  class="bg-rich_black-600 hide my-7 flex h-fit w-full overflow-clip rounded-lg"
>
  <img
    src={project.image}
    alt="QuizMaster"
    class="w-2/5 object-cover"
    loading="lazy"
  />

  <span class="m-5 flex flex-col gap-5">
    <h2 class="text-4xl">{project.name}</h2>
    <p class="text-2xl">{project.description}</p>
    <span class="flex flex-col gap-3 text-2xl">
      Key Features:
      <ul class="list-inside list-disc">
        {project.features.map((feature) => <li>{feature}</li>)}
      </ul>
    </span>
    <span class="flex gap-3 text-2xl">
      <p class="self-end">Built With</p>
      <img
        src={`https://skillicons.dev/icons?i=` + project.technologies}
        class="inline"
      />
    </span>
    <span class="flex gap-3">
      <a
        href={project.link}
        target="_blank"
        class="bg-rich_black-500 rounded-lg px-5 py-2 text-2xl"
      >
        Visit It
      </a>
      <a
        href={project.sourceCode}
        target="_blank"
        class="bg-rich_black-500 rounded-lg px-5 py-2 text-2xl"
      >
        Source Code
      </a>
    </span>
  </span>
</div>
