---
import Image from "astro/components/Image.astro";
import { FiGithub } from "react-icons/fi";
import { FaExternalLinkAlt as GoTo } from "react-icons/fa";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div
  class="font-pt my-7 flex w-full overflow-clip rounded-lg bg-[#040F0F] text-gray-200 shadow-md shadow-amber-100"
>
  <Image
    src={project.image}
    alt={project.name}
    class="aspect-square w-2/6 object-cover"
    loading="lazy"
    inferSize
  />

  <div class="m-4 flex flex-col justify-center gap-5 py-4">
    <h2 class="text-4xl font-semibold">{project.name}</h2>
    <p class="text-2xl">{project.description}</p>
    <span class="flex flex-col gap-3 text-2xl">
      Key Features:
      <ul class="list-inside list-disc">
        {project.features.map((feature) => <li>{feature}</li>)}
      </ul>
    </span>
    <span class="flex gap-3 text-2xl">
      <p class="self-end">Built With</p>
      <Image
        src={`https://skillicons.dev/icons?i=` + project.technologies}
        alt="Technologies Used"
        class="inline"
        inferSize
        loading="lazy"
      />
    </span>
    <span class="flex gap-3">
      {
        project.sourceCode && (
          <a
            href={project.sourceCode}
            target="_blank"
            class=" btn font-default flex items-center gap-2"
          >
            <FiGithub size={28} />
            <span>Source Code</span>
          </a>
        )
      }
      <a
        href={project.link}
        target="_blank"
        class="btn font-default flex items-center gap-2"
      >
        <GoTo size={28} />
        <span> Visit It </span>
      </a>
    </span>
  </div>
</div>
